@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url("image/image.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
}  
#head{
    margin-left: 10px;;
}
.container{
    width:85%;
    display: inline; 
    margin:auto;
    
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color:#eb7620;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding:0px 5px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color: #eb7620;
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: #eb7620 ;

}
.article{
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
   
    
}
    
   
.article h1{
    font-size: 36px;
    color: #fed1d1;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;

}
.article p{
    font-size: 18px;
    color:#580a0a;
    /* line-height: 1.5; */
    /* margin-bottom: 50px; */
}
.article.btn{
   
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;

}
.article.btn:hover{
    background-color: #4399fa;
    transition: 0.5s ease ;
} 



